modules = ["go-1.21"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Product Service"

[[workflows.workflow]]
name = "Run Product Service"
author = 741924
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd product-service && go run cmd/main.go"
